 @import '../Vars';

 .Help {
     margin: 0;
     padding: 0;
     overflow: hidden;
 }

 .Help__welcome {
     text-align: center;
     margin: 115px 20px 35px;
 }

 .Help__welcome__title {
     color: $gray;
     font-size: 22px;
     font-family: $h-bold;
     margin-bottom: 20px;
 }

 .Help__welcome__message {
     color: $gray;
     font-family: $font-special;
     font-size: 16px;
     font-weight: 100;
     text-align: center;
     margin-bottom: 15px;
     display: block;
 }

 .HelpSearcher {
     margin: 0;
     width: 100%;
     background-color: white;
     border-radius: 5px;
     box-shadow: $outter-shadow;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5px;
     position: relative;
 }

 .HelpSearcher__input {
     width: 100%;
     height: 40px;
     border-radius: 5px;
     border: none;
     box-shadow: $inner-shadow;
 }

 .HelpSearcher__icon {
     position: absolute;
     width: 20px;
     left: 15px;
 }

 .Help__categories {
     height: 50vh;
     overflow: scroll;
 }

 .HelpCategory {
     margin: 0 20px;
     width: calc(100% - 40px);
     text-align: center;
 }

 .HelpCategory__link {
     display: flex;
     width: 100%;
     color: $gray;
 }

 .HelpCategory__p {
     display: flex;
     font-size: 11px;
     font-family: $p-regular;
     justify-content: start;
     align-items: center;
     width: 100%;
 }

 .HelpCategory__p img {
     margin-left: 5px;
 }

 .HelpCategory__p span {
     margin-left: 20px;
 }

 .HelpCategory__link:hover, .HelpCategory__link:focus {
     text-decoration: underline;
     outline: none;
 }

 .Category__break {
     opacity: .3;
 }