@import '../Vars';

.Schedule {
    overflow: hidden;
}

.schedule__body {
    border-radius: 5px;
    margin: 20px;
    margin-top: 80px;
    background-color: white;
    box-shadow: $outter-shadow;
    padding: 20px;
}

.react-calendar__tile abbr {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35px;
    height: 35px;
}

.react-calendar__tile {
    background: white;
    border: none;
    min-height: 35px;
    color: $gray;
    font-family: $p-regular;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: $half-gray;
    font-family: $p-regular;
}

.react-calendar__month-view__weekdays {
    margin-bottom: 30px;
    margin-top: 15px;
    font-family: $p-bold;
    text-transform: uppercase;
}

.react-calendar__month-view__weekdays__weekday {
    text-align: center;
}

.react-calendar__navigation__label {
    background-color: white;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $p-bold;
    padding: 10px;
    color: $gray;
}

.react-calendar__navigation__arrow {
    background-color: white;
    border: none;
    color: $gray;
    padding: 10px;
}

.react-calendar__year-view__months__month {
    text-transform: uppercase;
}

.react-calendar__tile--now abbr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $blue;
}

.react-calendar__tile--active abbr{
    border: 2px solid $red;
    border-radius: 50%;
}

.schedule__date__withData {
    position: absolute;
    width: 5px;
    height: 5px;
    background: $red;
    border-radius: 50%;
    transform: translate(15px, -7px);
}

.Schedule__appointments--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule__block {
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: $outter-shadow;
    color: $red;
    width: 135px;
    height: 25px;
}