@import '../Vars';

.Blog {
    overflow: hidden;
}

.blog__content {
    margin-top: 80px;
    padding: 20px 0;
    height: 100%;
    width: 100%;
}

.blog__title {
    margin: 20px;
    font-family: $font-special;
    font-size: 24px;
    font-weight: 100;
}