@import '../Vars';

.call {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.call__view {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0;
    left: 0;
}

.call__view__video {
    position: absolute;
    width: auto;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    margin: auto;
    z-index: 2;
}

.call__view__controls {
    position: absolute;
    background-color: #00000080;
    width: 100%;
    height: 185px;
    z-index: 3;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.call__controls__top {
    margin-top: 10px;
    text-align: center;
    color: white;
}

.call__duration {
    font-size: .75em;
}

.call__controls__bottom {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call__controls__hangup {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: white;
    box-shadow: $outter-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    margin-right: 40px;
    margin-left: 40px;
}

.call__controls__camera {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: $outter-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    margin-left: 30px;
}

.call__controls__audio {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    box-shadow: $outter-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: none;
    margin-left: 30px;
}

.call__controls__recharge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.call__controls__recharge__info {
    font-size: 11px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.call__controls__recharge__button {
    background-color: $green;
    border-radius: 5px;
    font-size: 1.125em;
    font-family: $h-regular;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
}

.call__chat {
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 4;
    border-radius: 5px;
    width: 100vw;
    height: 100vh;
    transform: translateY(calc(100% - 87px));
    transition: transform .4s;
}

.call__chat.active {
    transform: translateY(0);
}

.chat__header__icon {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 38px;
    width: 100%;
    background-color: white;
    border: none;
    transition: padding .4s;
    border-radius: 5px;
    box-shadow: $outter-shadow;
}

.chat__header__icon.active {
    padding-top: 38px;
    padding-bottom: 0;
    
}

#camera {
    color: red;
}

.chat__toggle #chat {
    display: block;
}

.chat__toggle #camera {
    display: none;
}

.chat__toggle.active #chat {
    display: none;
}

.chat__toggle.active #camera {
    display: block;
}

.toggle__arrow #up {
    display: block;
}

.toggle__arrow #down {
    display: none;
}

.toggle__arrow.active #up {
    display: none;
}

.toggle__arrow.active #down {
    display: block;
}



.chat__toggle {
    background-color: transparent;
    border: none;
    margin: 5px;
}

.chat__toggle img {
    min-height: 38px;
    width: auto;
}

.call__chat__inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.chat__footer {
    position: absolute;
    height: 60px;
    background-color: $gray;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat__footer__input {
    display: flex;
    flex-direction: row;
    height: 35px;
    margin: 10px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: $inner-shadow;
}

.chat__input__message {
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    padding: 5px;
    margin: 5px;
}
                        
.chat__input__message:focus {
    outline: none;
}

.chat__input__message::placeholder {
    color: $half-gray;
}

.button__chat__input {
    border: none;
    background-color: transparent;
    width: 35px;
}

.chat__body {
    overflow: scroll;
    width: 100%;
    height: calc(100% - 60px);
    padding: 5px 10px;
    background-color: white;
}

.message__in {
    width: auto;
    max-width: 80%;
    height: auto;
    padding: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: $outter-shadow;
    float: left;
}

.message__out {
    width: auto;
    max-width: 80%;
    height: auto;
    padding: 5px;
    margin: 5px;
    background-color: white;
    box-shadow: $outter-shadow;
    float: right;
}

.message__body {
    font-size: 12px;
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: left;
}

.message__timer {
    display: block; 
    text-align: right;
    padding: 0 10px;
    margin: 5px;
    color: $half-gray;
    font-size: 10px;
}