@import '../Vars';

.Consultants {

}

.Consultants__background {
    position: absolute;
    top: 30%;
    transform: rotate(30deg);
    z-index: -3;
}

.Consultants__others {

}

.Consultants__icon {

}

