@import '../Vars';

.login {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .background {
        position: fixed;
        z-index: -1;
        overflow: hidden;
        width: 100%;
    }
}


.login__logo {
    width: 135px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.login__container {
    margin: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: $outter-shadow;
    display: flex;
    flex-direction: column;
}

.login__container h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    color: $gray;
    margin: 25px;
}

.login__container .signup__input {
    margin-bottom: 10px;
}

.signup__link {
    display: block;
    text-align: center;
    font-family: $p-regular;
    font-size: .8em;
    color: $half-gray;
    margin-bottom: 10px;

    & a {
        font-weight: bold;
    }

    & button {
        border: none;
        background-color: transparent;
        color: $gray;
        font-weight: bold;
    }
}

.login__footer {
    width: 100%;
    margin-top: 35px;
}