@import '../Vars';

.Post__article {
    overflow: hidden;
}

.post__content {
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
}

.post__header {
    width: 100%;
    margin: 0;
    max-height: 350px;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 55px;
}

.post__header--img {
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 330px;
}

.post__header--img--img {
    width: 100%;
    position:s relative;
    z-index: -1;
    border-radius: 0 0 15px 15px;
}

.post__header__info {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    background: white;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: $outter-shadow;
    padding: 10px;
}

.post__header__title {
    font-size: 24px;
    margin: 10px;
}

.info__post__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post__header__info span {
    text-transform: uppercase;
    font-family: $font-special;
    font-weight: 100;
    color: $gray;
}

.breadcrumb {
    font-size: 12px;
    text-align: left;
}

.article__info {
    font-size: 12px;
    text-align: right;
}

.post__body {
    padding: 0 20px;
}

.body__content {
    height: 52vh;
    overflow: scroll;
}