@import '../Vars';

.Recharge {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .background {
        position: fixed;
        z-index: -1;
        overflow: hidden;
    }
}

.Recharge__header {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Recharge__img {
    margin: 10px auto;
    max-width: 90px;
}

.Recharge__header__text {
    text-align: center;
    font-size: 16px;
    margin: 10px 20px;
}

.Recharge__payu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px;
    position: relative;
}

.Recharge__payu small {
    font-family: $font-special;
    color: $half-gray;
    font-weight: 100;
    padding-top: 10px;
}

@media screen and (max-height: 580px) {
    .Recharge__header {
        & img {
            display: none;
        }
    }
}