@import '../Vars';

.Signup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
}

.signup__icon {
    max-width: 127px;
    height: auto;
    margin: 30px auto;
}

.signup__text {
    text-align: center;
    margin: 0 30px;
    font-size: 18px;
}

.signup__container {
    margin: 20px 25px;
    width: 80%;
    background-color: white;
    border-radius: 5px;
    box-shadow: $outter-shadow;
    max-height: 100%;
    transition: 1s;
}

.signup__red {
    position: absolute;
    z-index: -2;
    top: 24%;
    transform: rotate(31deg);
    left: -20%;
}

.signup__yellow {
    position: absolute;
    z-index: -1;
    top: 24%;
    left: -110%;
}

.signup__form__content {
    display: flex;
    flex-direction: row;
    transition: transform 1s;
}

.signup__form {
    overflow: hidden;
}

.signup__form__fieldset {
    min-width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: none;
    background-color: white;
}

.signup__input {
    border-radius: 5px;
    margin: 0 10px;
    box-shadow: $inner-shadow;
    height: 30px;
    border: none;
    padding: 5px;
    color: $gray;
}

.signup__input:focus {
    outline: none;
    border-radius: 5px;
    border: 2px solid $blue-30;
}

.signup__input::placeholder {
    color: $half-gray;
    padding-left: 5px;
}

.signup__input.date {
    color: $half-gray;
}

.signup__facebook {
    height: 30px;
    background-color: #3b5998;
    color: white;
    width: calc(100% - 14px);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: $outter-shadow;
}

.signup__linkedin {
    height: 30px;
    background-color: #0E76A8;
    color: white;
    width: calc(100% - 14px);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: $outter-shadow;
}

.signup__google {
    height: 30px;
    background-color: white;
    color: $gray;
    width: calc(100% - 14px);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 7px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: $outter-shadow;
}

.signup__submit {
    height: 30px;
    background-color: $gray;
    color: white;
    width: calc(100% - 14px);
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $outter-shadow;
}

.signup__button img {
    padding-right: 15%;
}

.signup__login {
    text-align: center;
    color: $half-gray;
    margin-bottom: 10px;
}

.signup__login a {
    color: $gray;
    font-weight: bold;
    text-decoration: none;
}

.signup__form__content.active {
    transform: translateX(-100%);
    transition: transform 1s;
}

.signup__button.hidden {
    display: none;
    animation-delay: 1s;
    transition: 1s;
}

.signup__error {
    color: #c55d5d;
    margin: 8px 10px;
}

.signup__consultant__submit {
    width: 45px;
    height: 45px;
    background: white;
    box-shadow: $outter-shadow;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 10px auto;
}

.signup__input__file {
    width: 0px;
    height: 0px;
}

.input_photo_label {
    width: 100px;
    height: 100px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $outter-shadow;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.input_photo_label img {
    width: 60px;
}

.signup__form__consultant__title {
    font-size: 16px;
    font-weight: 100;
    margin: 0 10px 0 10px;
}

.signup__back__button {
    background-color: transparent;
    border: none;
    padding-left: 8px;
}

.signup__title__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.signup__form__indicator {
    height: 5px;
    width: calc(100% - 20px);
    background-color: #ECF9D9;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}

.signup__form__indicator__inner {
    height: 5px;
    width: 5%;
    background-color: $green;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s ease;
}

.signup__form__indicator__inner.active {
    width: 60%;
    transition: width 1s ease;
}

.signup__input.textarea {
    height: 65px;
}

.signup__input__cv img {
    margin: 0 10px;
}

.signup__input__cv, .signup__input__schedule {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    box-shadow:$outter-shadow;
    height: 40px;
    align-items: center;
    margin: 10px;
    border: none;
    color: $gray;
}

.signup__policy {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 0 10px;
    align-items: center;
}

.signup__policy__info {
    color: $half-gray;
    margin-left: 20px;
    & a {
        color: $gray;
        font-weight: bold;
    }
}

.signupConsultant__text__h2 {
    margin: 40px 0 0 0;
}

.signupConsultant__text__p {
    font-size: 16px;
    font-family: 'Axiforma';
    margin: 0 40px;
    text-align: center;
    font-weight: 100;
}

.signup__form__fieldset.right small {
    font-size: 11px;
    margin: 15px 30px 0;
    text-align: center;
    color: $half-gray;
}