@import '../Vars';

.BlockDay {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        width: 50px;
    }

    & h2 {
        text-align: center;
        font-size: 1.2em;
    }
}

.BlockDay__buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & button {
        font-size: 1em;
        width: 100px;
        height: 35px;
        border: none;
        border-radius: 5px;
        background-color: white;
        box-shadow: $outter-shadow;
    }
    
    & .back {
        color: $gray;
    }

    & .block {
        color: $red;
    }
}

// El consultor parece un problema en este momento, puedes seleccionar otro inmediatamente
// dividir la camara en la llamada
// Agregar calificación
// Cambiar recuadros de resultados principal a recuadros con información (estrellas, horas, tema y descripción) y otros (estrellas, horas, tema)
// Fuente descripción consultor y nombre cliente de proxima cita más grande, y todos los titulos de categoria/subcategoria con fuente h
// fuente ayuda wallet mas grande
// fuente parrafos 1em y justificados todos