@import '../Vars';

.EditProfile {
    display: flex;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    align-items: center;
    min-width: 280px;

    & .EditProfile__picture {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        box-shadow: $outter-shadow;
        
        & img {
            width: 32px;
        }

        & input {
            display: none;
        }
    }

    & input {
        width: 100%;
        margin: 5px 0;
        color: $gray;
    }
    
    & input::placeholder {
        color: $half-gray;
    }

    & select {
        width: 100%;
        margin: 10px 0;
        color: $half-gray;
    }

    & button.EditProfile__save {
        border: none;
        background-color: white;
        width: 40px;
        height: 40px;
        box-shadow: $outter-shadow;
        border-radius: 50%;
    }

    & textarea {
        border: 1px solid $half-gray;
        box-shadow: $inner-shadow;
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
        padding: 5px;
        color: $gray;
    }

    & textarea::placeholder {
        color: $half-gray;
    }

    & .EditProfile__attach {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        width: 100%;
    }

    & .cv, .reel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        background-color: white;
        box-shadow: $outter-shadow;
        border-radius: 5px;
        color: $gray;
        width: calc(50% - 5px);
        font-size: 12px;
        height: 52px;

        & input {
            display: none;
        }

    }
    
    & .cv:focus, .cv:active, .cv:hover, .reel:focus, .reel:hover, .reel:active {
        transition: background-color .5s ease;
        background-color: $gray;
        color: white;
    } 
    
    & button.EditSchedule {
        margin: 10px 0; 
        width: 100%;
        color: $gray;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: none;
        background-color: white;
        box-shadow: $outter-shadow;
        height: 40px;
    }
    
}

.EditProfile__select {
    width: 230px;
    height: 30px;
    padding: 0;
    margin: 12px auto
}

.EditProfile__personal {
    border-radius: 5px 0 0 5px;
    background-color: #7a7a7a1f;
    color: $gray;
    box-shadow: $inner-shadow;
    width: 50%;
    height: 30px;
    display: inline-block;
    border: none;
}

.EditProfile__professional {
    border-radius: 0 5px 5px 0;
    background-color: #7a7a7a1f;
    color: $gray;
    box-shadow: $inner-shadow;
    width: 50%;
    height: 30px;
    display: inline-block;
    border: none;
}

.EditProfile__personal.active, .EditProfile__professional.active {
    background-color: white;
    box-shadow: $outter-shadow;
}
