@import '../Vars';
@import './Calling.scss';

.hangUpModal__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.CallingModal__button__hangUpBack {
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: $outter-shadow;
    padding: 5px 30px;
    color: $gray;
}

.CallingModal__button__hangup {
    border: none;
    border-radius: 5px;
    background-color: white;
    box-shadow: $outter-shadow;
    padding: 5px 30px;
    color: $red;
}

.rateCall {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    & fieldset {
        min-width: 100%;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        position: relative;
        transition: all .5s ease;
    }

    & #firstRate {
        left: -100%;
    }

    & #firstRate.active {
        left: 0;
    }

    & #secondRate {
        right: 0;
    }

    & #secondRate.active {
        right: 100%;
    }

}

.rateCall img {
    max-width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.rateCall__question {
    color: $gray;
    margin: 1em 1.5em;
    text-align: center;
}

.rateCall__stars {
    transform: scale(1.5);
    margin: 20px 30px 30px;
}

.rateCall__add label {
    font-size: 1em;
    font-family: $font-special;
    color: $gray;
    font-weight: 100;
}

.rateCall button {
    padding: 12px 28px;
    border-radius: 5px;
    border: none;
    background-color: white;
    box-shadow: $outter-shadow;
    margin: 20px;
    color: $green;
}

.rateCall__comment .comment {
    border: none;
    border-radius: 5px;
    padding: 5px;
    box-shadow: $inner-shadow;
    color: $gray;
}