@import '../Vars';

.Inactive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 280px;

    & .Inactive__buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0 10px;

        & button {
            border: none;
            background-color: white;
            color: $gray;
            padding: 10px 20px;
            box-shadow: $outter-shadow;
            border-radius: 5px;
        }
    }
}
