@import '../Vars';

.transaction {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: $outter-shadow;
    height: 40px;
    margin: auto;
}

.transaction__name {
    font-size: 14px;
    font-family: $h-regular;
}

.transaction__info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.transaction__info__price {
    font-family: $p-bold;
    font-size: 12px;
}

.transaction__info__price.cost {
    color: $red;
}

.transaction__info__price.revenue {
    color: $green;
}

.transaction__info__date {
    font-family: $p-regular;
    color: $half-gray;
    font-size: 11px;
}