@import '../Vars';

.cardButton {
    position: relative;
    z-index: 2;
    width: 90vw;
    height: 120px;
    top: 45vh;
    border-radius: 5px;
    background-color: white;
    display: flex;
    box-shadow: $outter-shadow;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 5vw;
}

.cardButton__title {
    color: $gray;
    width: 40%;
    height: auto;
    margin: auto 0 auto 20px;
}

.CardConsultorSelection, .CardClientSelection {
    margin: auto 20px auto 0;
    padding: 10px 10px;
    color: white;
    width: 45%;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.CardConsultorSelection {
    background-color: $gray;
}

.CardClientSelection {
    background: $gradiant;
}