@import '../Vars';

.HistoryElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: $outter-shadow;
    margin-bottom: 10px;
}

.HistoryElement__img {
    object-fit: cover;
    width: 65px;
    height: 65px;
    margin-right: 10px;
}

.HistoryElement__img__profile {
    width: 65px;
    height: auto;
    border-radius: 50%;
}

.HistoryElement__consultant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 10px;
}

.HistoryElement__consultant__name {
    font-size: 22px;
    font-family: $h-regular;
}

.HistoryElement__consultant__duration {
    font-family: $p-regular;
    font-size: 11px;
}

.HistoryElement__consultancy {
    text-align: right;

    & div {
        margin-top: 5px;
    }
}

.HistoryElement__consultancy__price {
    font-size: 12px;
    font-family: $p-bold;
    text-align: right;
    white-space: nowrap;
    width: 100%;
    height: 50%;
}

.HistoryElement__consultancy__price.client {
    color: $red;
}

.HistoryElement__consultancy__price.consultant {
    color: $green;
    margin-top: 10px;
}
.HistoryElement__consultancy__date {
    font-family: $p-regular;
    font-size: 11px;
    text-align: right;
    white-space: nowrap;
    width: 100%;
    height: 50%;
}