@import '../Vars.scss';

.Search {
    display: flex;
    margin: 60px 30px;
}

.Search__input {
    border-radius: 5px 0 0 5px;
    border: none;
    box-shadow: $inner-shadow;
    height: 25px;
    width: 175px;
}

.Search__input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7c7c7b7c;
    font-size: 11px;
}

.Search__submit {
    background-color: $gray;
    border-radius: 0 5px 5px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
}