@import '../Vars.scss';

.Search {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Search__input {
    border-radius: 5px 0 0 5px;
    
}

.Search__submit {
    
}

.Search__submit__img {

}