@import '../Vars';

.ScheduleModal {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

.ScheduleModal__instructions {
    font-size: .8em;
    color: $gray;
    font-family: $p-regular;
    margin: 4px 24px;
}

.ScheduleModal__day {
    display: flex;
    background-color: white;
    box-shadow: $outter-shadow;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 10px 0;
}

.ScheduleModal__day__name {
    font-size: 1em;
    margin: none;
    width: 85px;
}

.ScheduleModal__day label {
    width: 75px;
    font-size: 12px;
    font-family: $p-bold;
    color: $half-gray;
    margin: 5px;
}

.ScheduleModal__day input[type="time"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid $half-gray;
    color: $gray;
}

.ScheduleModal__save {
    display: flex;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    width: 50px;
    height: 50px;
    margin: auto;
    border: none;
    justify-content: center;
    align-items: center;
}