@import '../Vars';

@import '../Vars';

.WalletNewWithdraw {
    padding: 10px;

    & p {
        color: $gray;
        font-size: .8em;
    }

    & input {
        width: 280px;
        display: block;
        margin: 10px 0;
    }

    & button {
        display: block;
        padding: 10px 30px;
        color: white;
        background-color: $green;
        border-radius: 5px;
        border: none;
        box-shadow: $outter-shadow;
        font-size: 1.5em;
        font-family: $h-regular;
        margin: 40px auto 10px;
    }

    & button:active, button:focus, button:hover {
        color: $green;
        background-color: $gray;
        transition: color .5s ease;
        transition: background-color .5s ease;
    }
 
    & p.small {
        font-size: .7em;
        color: $half-gray;
        text-align: right;
    }

    & table {
        width: 100%;

        & tr {
            height: 45px;
        }

        & th {
            text-align: left;
        }

        & td {
            text-align: right;
        }
    }

    & img {
        width: 50px;
        height: auto;
        margin: auto;
        display: block;
    }
}

