@import '../Vars';

.WalletNewAccountModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.WalletNAModal__title {
    margin-bottom: .25em;
    margin-top: .5em;
}

.WalletNAModal__text {
    margin-bottom: .5em;
    margin-top: .25em;
}

.WalletNewAccount {
    width: 100%;
    display: flex;
    flex-direction: column;
    & input {
        width: 100%;
        margin: 5px 0;
    }
    & select {
        width: 100%;
        margin: 5px 0;
        color: $half-gray;
    }
    & select:active, select:focus {
        color: $gray;
    }

    & h3 {
        margin-bottom: 0;
        margin-top: .5em;
        font-size: 1em;
    }

    & label {
        display: flex;
        margin: 10px 0 20px;
        & input {
            width: 30px;
        }
        & small {
            margin-left: 10px;
            text-align: left;
            font-size: .8em;
            color: $half-gray;
            & b {
                color: $gray;
            }
        }
    }

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        background-color: white;
        border: none;
        box-shadow: $outter-shadow;
        margin: auto;
        border-radius: 50%;
    }
}

.WalletNA__saved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    & img {
        width: 50px;
        height: auto;
    }

    & button {
        padding: 10px 30px;
        color: $green;
        background-color: white;
        border-radius: 5px;
        border: none;
        box-shadow: $outter-shadow;
    }

    & button:hover, button:active, button:focus {
        color: $gray;
        background-color: $green;
        transition: color .5s ease;
        transition: background-color .5s ease;
    }

}